# Dependencies
node_modules/

# Build
dist/
.next/
out/
coverage/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Prisma
apps/api/prisma/generated/

# Logs
logs/
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Docker
docker-data/

# Test
.nyc_output/
playwright-report/
test-results/

# Misc
*.pem
.turbo
